/* HEADER */

.header-container  {
    background-color: var(--bs-primary);
    padding: 20px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

/* MAIN */ 

/* 1ST SECTION */ 

.green-container {
    background-color: #20c997;
    height: 400px;
}

.row > .col-12 > img {
    width: 20%;
}

.green-container h1 {
    text-transform: uppercase;
    color: white;
}

.row {
    border: 1px red dotted;
    
}

.col-12 {
    padding-top: 15px;
}

p {
    color: white;
    text-transform: uppercase;
}

.black-icons {
    color: black;
}

h2 {
    text-transform: uppercase;
    padding-top: 20px;
}

.row > .col-4 > img {
    width: 70%;
    margin-bottom: 20px;
    border-radius: 20px;
}